.GameButton {
    height: 100%;
    flex-grow: 1;
    border: none;
    background-color: #f8f5e1;
    border-radius: 0;
    margin: 0;
    box-shadow: inset 1px 1px 1px rgb(125, 130, 143);
}

.GameButton.cold {
    background-color: rgb(214, 113, 132);
    box-shadow: inset 1px 1px 1px rgb(245, 240, 226);
}

.GameButton.warm {
    background-color: rgb(155, 203, 255);
    box-shadow: inset 1px 1px 1px rgb(181, 200, 255);
}

.GameButton.warm {
    background-color: rgb(60, 147, 255);
    box-shadow: inset 1px 1px 1px rgb(181, 200, 255);
}

.GameButton.success {
    background-color: rgb(44, 177, 66);
    box-shadow: inset 1px 1px 1px rgb(225, 255, 213);
}
